h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin-right: 130px;
    color:#708238;
  }

body{
    background-image: url(https://i.pinimg.com/736x/65/4b/72/654b720f4ff354ac7adf69753cc23632.jpg);
    background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  margin: 0;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien-souligne {
  text-decoration: none;
  color: #2E8B57; 
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  margin-right: 80px;
}
.lien-souligne:hover {
  color:blue;
  text-decoration: underline;
}

img{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.4);
}

h2{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  font-size: 25px;
}

p{
  width: 200px;
  font-size: 20px;
  display: flex;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media (max-width: 768px) {
  ul {
    flex-direction: column;
    gap: 10px;
    width: 650px;
    margin-left: 80px;
  }

  body {
    background-position: center;
    background-size: cover;
  }

  h1{
    font-size: 30px;
    margin-left: 140px;
  }

  p{
    margin-left: 20%;
    margin-top: 20%;
  }

  h2{
    font-size: 20px;
  }

  img{
    width: 200px;
    height: 200px;
  }
}