body{
  background-image: url(https://i.pinimg.com/736x/65/4b/72/654b720f4ff354ac7adf69753cc23632.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  margin: 0;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

h1{
    font-size: 40px;
    font-weight: 600px;
    text-decoration: underline;
}

h2{
    font-size: 30px;
    font-weight: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bouton {
  background-color:darkgoldenrod;
  color:whitesmoke;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 900;
  padding: 12px 24px;
  width: 240px;
  border: none;
  text-decoration: underline;
  border-radius: 20px;
}
