h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin-right: 130px;
    color:#708238;
  }

body{
  background-image: url(https://i.pinimg.com/736x/65/4b/72/654b720f4ff354ac7adf69753cc23632.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  margin: 0;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien-souligne {
  text-decoration: none;
  color: #2E8B57; 
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  margin-right: 80px;
}
.lien-souligne:hover {
  color:blue;
  text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 350px;
    display: flex;
    justify-content: center;
}

label{
    margin: 20px;
    color:darkkhaki;
    font-size: 28px;
    font-weight: 800;
}

button{margin: 30px;
    height: 100px;
    width: 220px;
    font-size: 30px;
    border-radius: 40px;
    background-color:darkgoldenrod;
}

a{
    text-decoration: none;
    size: 60px;
    color: white;
}

h2{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:darkgoldenrod
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    gap: 10px;
    width: 650px;
    margin-left: 80px;
  }

  h1{
    margin-left: 80px;
  }
}