h1 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  margin-right: 130px;
  color: #708238;
}

body {
  background-image: url(https://i.pinimg.com/736x/65/4b/72/654b720f4ff354ac7adf69753cc23632.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lien-souligne {
  text-decoration: none;
  color: #2E8B57;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  margin-right: 80px;
}

.lien-souligne:hover {
  color: blue;
  text-decoration: underline;
}


section {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
  width: 80%;
  margin: 40px auto;
  gap: 20px;
  background-color:burlywood;
  padding: 20px;
  border-radius: 15px;
}

p {
  width: 60%;
  font-size: 20px;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 200px;
  height: 200px;
  margin: 0; 
  border-radius: 10px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.3);
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  h1 {
    display: flex;
    font-size: 22px;
    text-align: center;
    margin: 20px 0;
    margin-right: 60px;
    justify-content: center;
  }

  ul {
    flex-direction: column;
    gap: 10px;
  }

  div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section{
    width: 60%;
    height: 30%;
  }


}

@media (max-width: 768px) {
  body {
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-size: 26px;
    text-align: center;
  }

  ul {
    flex-direction: column;
    gap: 10px;
  }

  .lien-souligne {
    font-size: 18px;
    margin: 5px 0;
  }

  p{
    font-size: 15px;
  }

  section{
    width: 70%;
  }
}