h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin-right: 130px;
    color:#708238;
  }

body{
    background-image: url(https://i.pinimg.com/736x/65/4b/72/654b720f4ff354ac7adf69753cc23632.jpg);
    background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  margin: 0;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien-souligne {
  text-decoration: none;
  color: #2E8B57; 
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  margin-right: 80px;
}
.lien-souligne:hover {
  color:blue;
  text-decoration: underline;
}

img{
  display: flex;
  height: 330px;
  width: 330px;
  margin-top: 170px;
  margin-left: 950px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(0.9);
}

